.presentation
{
  font-family: "Comic Sans MS", serif;
  color: red;
  display: flex;
  justify-content: center;
}

.footer
{
  background-color: red;
  color: white;
  margin-top: 5px;
}

.signature
{
  display: flex;
  text-align: right;
}
