<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="https://cdn.1min30.com/wp-content/uploads/2018/05/logo-Tinder-1.jpg">
  <a class="navbar-brand" href="#">Zinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/statstiques" routerLinkActive="active">Statistiques<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="presentation">
  <h1>Voici tes prétendants</h1>
</div>
<app-list-profils></app-list-profils>
<footer class="footer">
  <div>
    <p>Toute reproduction est interdite</p>
  </div>
  <div class="signature">
  <p>
    @POEI Zenika 2020
  </p>
  </div>
</footer>
<router-outlet></router-outlet>
